<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>oEmbed Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
</head>
<body>
    <p class="h1">oEmbed Test</p>
    <div class="input-group mb-3">
        <input id="address" type="text" class="form-control" aria-describedby="button-addon2" required>
        <button class="btn btn-outline-secondary" type="button" id="submit">확인</button>
    </div>

    <div>
        <table id="resultTable" class="table">

        </table>
    </div>

    <!--부트스트랩 js, jquery 추가-->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>

    <!--custom js 추가-->
    <script src="/js/app/main.js"></script>
</body>
</html>
